dcj_test/
Documenti/
Files/
foto/
Langflow/
venv/
vpn/
PythonFiles/DataGenerationForTesting/venv
PythonFiles/DocumentalRag/.venv_DocumentalRag
PythonFiles/SwaggerToolKit/.venv
PythonFiles/SwaggerToolKit/__pycache__
__pycache__/
PythonFiles/DocumentalRag/.env
